replicaCount: 1

image:
  repository: ghcr.io/grantmcd/prisoners-royale
  pullPolicy: Always
  tag: "latest"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: tailscale
  annotations:
    tailscale.com/funnel: "true"
  hosts:
    - host: prisoners.tail05ac3b.ts.net

env:
  DATABASE_URL: "postgres://postgres:postgres@postgres-rw.cloudnative-pg.svc.cluster.local:5432/prisoners"
